* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 450;
    background: transparent;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.openModalButton {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    width: 175px;
    height: 40px;
    padding: 16px 8px;
    border: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}

@media (hover: hover) and (pointer: fine) {
    .openModalButton:hover {
        opacity: 0.9;
    }
}

.openModalButton:disabled {
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
    opacity: 0.5;
}

.paymentModal {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    z-index: 1;
}

.paymentModal.show {
    height: 100%;
    width: 100%;
}

.paymentModal .paymentModalOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0) !important;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}

.paymentModal .paymentModalOverlay.show {
    background: rgba(0, 0, 0, 0.75) !important;
}

.paymentModal .paymentModalContent {
    position: relative;
    z-index: 3;
    margin: 0 auto;
    width: 100%;
    height: 700px;
    max-width: 390px;
    border-radius: 6px;
    overflow: hidden;
    background: #f8f9fa; /* Fallback */
    background: var(--sp-widget-secondary-bg-color);
    opacity: 0;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}

.paymentModal .paymentModalContent.show {
    opacity: 1;
}

.stepWrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #f8f9fa; /* Fallback */
    background: var(--sp-widget-secondary-bg-color);
    overflow: hidden;
}

.stepWrapper > *:not(custom-notification) {
    height: 100%;
}

@media (max-width: 768px) {
    .paymentModal .paymentModalContent {
        height: 100%;
        max-width: none;
        border-radius: 0;
    }
}

.paymentPage{
    width: 100%;
    height: 100svh;
    background: var(--sp-widget-bg-color);
    overflow: hidden;
}

.paymentPage.dark{
    background: var(--sp-widget-secondary-bg-color);
}

.paymentPage .paymentPageContent{
    padding: 48px 32px;
    display: flex;
    gap: 54px;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.paymentPage .paymentPageContent .leftSection{
    flex: 1;
    overflow: auto;
    padding-right: 8px;
}

.paymentPage .paymentPageContent .leftSection::-webkit-scrollbar {
    width: 2px;
}

.paymentPage .paymentPageContent .leftSection::-webkit-scrollbar-track {
    background: transparent;
}

.paymentPage .paymentPageContent .leftSection::-webkit-scrollbar-thumb {
    background: var(--sp-widget-scroll-color);
}

.paymentPage .paymentPageContent .rightSection{
    flex: 1;
}

.paymentPage .paymentPageContent .rightSection .createTransactionForm{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.paymentPage .paymentPageContent .rightSection .createTransactionForm button{
    flex: 1;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    max-height: 40px;
    padding: 16px 8px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}

.paymentPage .paymentPageContent .rightSection .createTransactionForm button.mainButton{
    color: var(--sp-widget-primary-button-text-color);
    background: var(--sp-widget-primary-button-color);
    border: 1px solid var(--sp-widget-primary-button-border-color);
}

@media (hover: hover) and (pointer: fine) {
    .paymentPage .paymentPageContent .rightSection .createTransactionForm button.mainButton:hover {
        color: var(--sp-widget-primary-button-hover-text-color);
        background: var(--sp-widget-primary-button-hover-color);
        border: 1px solid var(--sp-widget-primary-button-hover-border-color);
    }
}

.paymentPage .paymentPageContent .rightSection .createTransactionForm button:disabled {
    pointer-events: none;
    -ms-touch-action: none;
    touch-action: none;
    opacity: 0.5;
}

.paymentPage .paymentPageContent .separator{
    width: 2px;
    background-color: var(--sp-widget-border-color);
    border-radius: 0.5rem;
}

.paymentPage .creatingTransaction{
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    min-height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--sp-widget-bg-color);
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--sp-widget-border-color);
}

.paymentPage .creatingTransaction .spinner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.paymentPage .creatingTransaction .spinner p {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--sp-widget-text-color);
}

.paymentPage .creatingTransaction .spinner svg {
    width: 20px;
    height: 20px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.paymentPage .creatingTransaction .spinner circle {
    stroke: var(--sp-widget-active-color);
    opacity: 0.25;
}

.paymentPage .creatingTransaction .spinner path {
    fill: var(--sp-widget-active-color);
    opacity: 0.75;
}

.paymentPage .hasActiveTransaction{
    width: 100%;
    max-width: 410px;
    margin: 0 auto;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    background: var(--sp-widget-bg-color);
    padding: 16px;
    border-radius: 8px;
    border: 1px solid var(--sp-widget-border-color);
}

.paymentPage .hasActiveTransaction .message{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paymentPage .hasActiveTransaction .message p{
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
    color: var(--sp-widget-secondary-text-color);
    text-align: center;
    max-width: 250px;
}

.paymentPage .hasActiveTransaction button{
    flex: 1;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
    max-height: 40px;
    padding: 16px 8px;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}

.paymentPage .hasActiveTransaction button.mainButton{
    color: var(--sp-widget-primary-button-text-color);
    background: var(--sp-widget-primary-button-color);
    border: 1px solid var(--sp-widget-primary-button-border-color);
}

@media (hover: hover) and (pointer: fine) {
    .paymentPage .hasActiveTransaction button.mainButton:hover {
        color: var(--sp-widget-primary-button-hover-text-color);
        background: var(--sp-widget-primary-button-hover-color);
        border: 1px solid var(--sp-widget-primary-button-hover-border-color);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}