* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 450;
    background: transparent;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.stepWrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.stepWrapper .stepContent {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
}

.stepWrapper .stepContent::-webkit-scrollbar {
    width: 1px;
}

.stepWrapper .stepContent::-webkit-scrollbar-track {
    background: transparent;
}

.stepWrapper .stepContent::-webkit-scrollbar-thumb {
    background: #888888; /* Fallback */
    background: var(--sp-widget-scroll-color);
}

.stepWrapper .stepContent .tokensList {
    padding: 16px 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
}

.stepWrapper .stepContent .tokensList .tokenItem {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc; /* Fallback */
    border: 1px solid var(--sp-widget-border-color);
    border-radius: 8px;
    background: #ffffff; /* Fallback */
    background: var(--sp-widget-bg-color);
    outline: 2px solid transparent;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 50ms;
    transition-duration: 50ms;
}

.stepWrapper .stepContent .tokensList .tokenItem.selected {
    border: 1px solid #007bff; /* Fallback */
    border: 1px solid var(--sp-widget-active-color);
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    border: 1px solid #cccccc; /* Fallback */
    border: 1px solid var(--sp-widget-border-color);
    background: #ffffff; /* Fallback */
    background: var(--sp-widget-bg-color);
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .tokenIconWrapper {
    position: relative;
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .tokenIconWrapper .tokenIcon {
    position: relative;
    background: #ffffff; /* Fallback */
    background: var(--sp-widget-bg-color);
    border: 1px solid #cccccc; /* Fallback */
    border: 1px solid var(--sp-widget-border-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .tokenIconWrapper .tokenIcon svg {
    width: 16px;
    height: 16px;
    stroke: #007bff; /* Fallback */
    stroke: var(--sp-widget-active-color);
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .tokenIconWrapper .networkIcon {
    position: absolute;
    bottom: -2px;
    right: -3px;
    background: #ffffff; /* Fallback */
    background: var(--sp-widget-bg-color);
    border: 1px solid #cccccc; /* Fallback */
    border: 1px solid var(--sp-widget-border-color);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .tokenIconWrapper .networkIcon svg {
    width: 16px;
    height: 16px;
    stroke: #007bff; /* Fallback */
    stroke: var(--sp-widget-active-color);
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .info .leftSection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .info .leftSection p {
    font-weight: 700;
    color: #333333; /* Fallback */
    color: var(--sp-widget-text-color);
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .info p {
    font-size: 12px;
    font-weight: 700;
    color: #666666; /* Fallback */
    color: var(--sp-widget-secondary-text-color);
}

.stepWrapper .stepContent .tokensList .tokenItem .tokenContent .badge {
    color: #ffffff; /* Fallback */
    color: var(--sp-widget-badge-text-color);
    font-weight: 700;
    padding: 2px 4px;
    background: #007bff; /* Fallback */
    background: var(--sp-widget-badge-bg-color);
    border: 1px solid #0056b3; /* Fallback */
    border: 1px solid var(--sp-widget-badge-border-color);
    font-size: 10px;
    border-radius: 4px;
}

.stepWrapper .stepContent .accordion .tokenItem.trigger {
    background: #ffffff; /* Fallback */
    background: var(--sp-widget-bg-color);
}

.stepWrapper .stepContent .accordion .tokenItem.trigger .imagePlaceholder {
    position: relative;
    background: #4faf95;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    border: 0;
}

.stepWrapper .stepContent .accordion .tokenItem.trigger .imagePlaceholder svg {
    width: 16px;
    height: 16px;
    stroke: white;
}

.stepWrapper .stepContent .accordion .tokenItem.trigger .tokenContent {
    width: 100%;
}

.stepWrapper .stepContent .accordion .tokenItem.trigger .tokenContent .info {
    padding: 0 8px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.stepWrapper .stepContent .accordion .tokenItem.trigger .tokenContent .info p {
    font-size: 16px;
    color: #333333; /* Fallback */
    color: var(--sp-widget-text-color);
}

.stepWrapper .stepContent .accordion .tokenItem.trigger .arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #666666; /* Fallback */
    color: var(--sp-widget-secondary-text-color);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
}

.stepWrapper .stepContent .accordion .tokenItem.trigger .arrow.active {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.stepWrapper .stepContent .accordion .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 8px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    overflow: hidden;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition-duration: 150ms;
    transition-duration: 150ms;
    padding-right: 4px;
}

.stepWrapper .stepContent .accordion .content .tokenItem {
    width: calc(100% - 24px);
}

.stepWrapper .stepContent .accordion .content .tokenItem:first-child {
    margin-top: 8px;
}